@charset "UTF-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6	{
	margin: 0;
	padding: 0;
}

a:link,
a:visited {
	text-decoration: none;
	color: #FFFFFF;
}


#wrapper	{
	width: 1200px;
	margin: 0 auto;
}

#hero-header-blog	{
	background-image: url(../images/header.jpg);
	height: 300px;
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

#main-header-blog	{
	background-color: #13345d;
	height: 60px;
}

.header-blog	{
	display: flex;
	justify-content: space-between;
}

.logo	{
	display: flex;
	align-items: center;
}

.logo img	{
	height: 40px;
}

nav	{
	height: 60px;
	display: flex;
	align-items: center;
}

nav ul	{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

nav ul li	{
	margin-right: 30px;
}

nav ul li:nth-of-type(4)	{
	margin-right: 0;
}


nav ul li a:link,
nav ul li a:visited {
	font-size: 17px;
	text-decoration:none;
}

nav ul li a:hover {
	color: #00BFFF;
	transition: 0.3s all ease;
}

/* MAIN-BLOG */

#main-blog	{
	margin: 150px auto;
	padding: 50px 0 30px 0;
}

#main-blog h1	{
	padding-bottom: 50px;
}


#blog	{
	margin: 0;
	padding: 0;
	text-align: center;
}

.main-blog-image	{
	margin: 0 auto;
	padding: 0;
	width: 600px;
}


/* FOOTER */

#footer	{
	margin: 0 auto;
	padding: 50px 0;
	background-color: #FAFAFA;
}

#footer a	{
	color: blue;
}

.contacts	{
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.social-networks	{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.fab	{
	font-size: 30px;
}

.fa-twitter	{
	color: #1DA1F2;
}

.fa-linkedin	{
	color: #0077B5;
}
	
.fa-facebook-square	{
	color: #3C5898;
}

.footer-bottom p	{
	margin: 0;
	padding: 50px 0 0 0;
	text-align: center;
}


/* RESPONSIVE PAGE */


/* MEDIA SCREEN AND (MIN-WIDTH: 992PX) AND (MAX-WIDTH: 1199PX) */

@media screen and (min-width: 992px) and (max-width: 1199px)
{
	#wrapper	{
		width: 960px;
	}
	
	#main-blog	{
		margin: 150px auto;
		padding: 40px 0 30px 0;
	}
}


/* MEDIA SCREEN AND (MIN-WIDTH: 768PX) AND (MAX-WIDTH: 991PX) */

@media screen and (min-width: 768px) and (max-width: 991px)
{
	/*HERO*/
	
	#wrapper {
		width: 740px;
	}
	
	#main-blog	{
		margin: 100px auto;
	
	}
	
	/* FOOTER */

	#footer	{
		padding: 25px 0;
	}

	.contact {
		width: 100%;
		text-align: center;
	}
	
	.social-networks	{
		display: flex;
		justify-content: center;
	}

	.fab	{
		margin: 0 30px 10px 30px;
	}

	.footer-bottom p	{
		margin: 0;
		padding: 20px 0 0 0;
	}
}


/* MEDIA SCREEN AND (MIN-WIDTH: 576PX) AND (MAX-WIDTH: 767PX) */

@media screen and (min-width: 576px) and (max-width: 767px)
{
	/* HERO */
	
	#wrapper	{
		width: 540px;
	}
	#main-header-blog	{
		height: 50px;
	}

	.logo img	{
		height: 40px;
	}

	nav	{
		height: 50px;
	}

	nav ul	{
		margin: 0;
		padding: 0;
	}

	nav ul li	{
		margin-right: 20px;
	}

	nav ul li:nth-of-type(4)	{
		margin-right: 0;
	}

	nav ul li a:link,
	nav ul li a:visited {
		font-size: 15px;

	}
	#main-blog	{
		margin: 50px auto;
		padding: 50px 0 30px 0;
}

	#main-blog h1	{
		padding-bottom: 30px;
	}


	#blog	{
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.main-blog-image	{
		margin: 0 auto;
		padding: 0;
		width: 480px;
	}
	
		/* FOOTER */

	#footer	{
		padding: 25px 0;

	}

	.contact {
		width: 100%;
		text-align: center;
	}
	
	.social-networks	{
		display: flex;
		justify-content: center;
	}

	.fab	{
		margin: 0 30px 10px 30px;
	}

	.footer-bottom p	{
		margin: 0;
		padding: 20px 0 0 0;
	}
	
}

/* MEDIA SCREEN AND (MAX-WIDTH: 575PX) */

@media screen and (max-width: 575px)	{
	
	#wrapper	{
		width: 90%;
	}
	
	#main-header-blog	{
		height: 50px;
	}
	
	#hero-header-blog	{
		height: 200px;
	}

	.logo img	{
		height: 30px;
	}

	nav	{
		height: 50px;
	}

	nav ul li	{
		margin-right: 28px;
	}

	nav ul li:nth-of-type(4)	{
		margin-right: 0;
	}

	nav ul li a:link,
	nav ul li a:visited {
		font-size: 15px;
	}
	
	#main-blog	{
		margin: 50px auto;
		padding: 50px 0 30px 0;
}

	#main-blog h1	{
		padding-bottom: 30px;
	}


	#blog	{
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.main-blog-image	{
		margin: 0 auto;
		padding: 0;
		width: 300px;
	}

	/* FOOTER */

	#footer	{
		width: 100%;
		padding: 25px 0;

	}

	.contact {
		width: 100%;
		text-align: center;
	}
	
	.social-networks	{
		display: flex;
		justify-content: center;
	}

	.fab	{
		margin: 0 30px 30px 0;
	}

	.footer-bottom p	{
		margin: 0;
		padding: 20px 0 0 0;
	}

}


