@charset "UTF-8";
/* CSS Document */

body {
	margin:0 auto;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	/* font-size: 18px; */
}

h1, h2, h3, h4, h5, h6	{
	margin: 0;
	padding: 0;
}


a:link,
a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

#wrapper	{
	max-width: 1200px;
	margin: 0 auto;
}

#hero	{
	background-image: url(../images/hero.jpeg);
	height: 600px;
	width: 100%;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}

#main-header	{
	background: rgba(0, 0, 0, 0.3);
	height: 60px;
}

.header	{
	display: flex;
	justify-content: space-between;
}

.logo	{
	display: flex;
	align-items: center;
}

.logo img	{
	height: 50px;
}

nav	{
	height: 60px;
	display: flex;
	align-items: center;
}

nav ul	{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

nav ul li	{
	margin-right: 30px;
	display: block;
}


nav ul li:nth-of-type(4)	{
	margin-right: 0;
}


nav ul li a:link,
nav ul li a:visited {
	font-size: 17px;
	text-decoration:none;
}

nav ul li a:hover {
	color: #C6BEB3;
	transition: 0.3s all ease;
}


#hero-about	{
	
}

.hero-text	{
	height: 540px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-text p	{
	margin: 0;
	padding: 20px;
	font-size: 32px;
	color: #FFFFFF;
	text-shadow: 1px 1px #9C8C8C;
	text-align: center;
}

.button	{
	border: 1px solid white;
	border-radius: 5px;
	color: #6D5947;
	text-shadow: 1px #FFFFFF;
	padding: 0px 5px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	margin: 0px 2px;
}

.button:hover {
	color: #FFFFFF;
	transition: 0.3s all ease;
}


/* TITLE */

#main-title	{
	margin: 200px auto;
	padding: 50px 0 30px 0;
	background-color: #FAFAFA;
}

#main-title h1	{
	padding-bottom: 50px;
}

#title	{
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
}

#title h3	{
	padding: 0 0 25px 0;
}

.web-design	{
	max-width: 560px;
	width: 100%;
	padding: 20px;
}

.geoinformatics	{
	max-width: 560px;
	width: 100%;
	padding: 20px;
}

.title-image	{
	max-width: 500px;
	width: 100%;
}

/* TOOLS */

#main-tools	{
	margin: 200px auto;
	padding: 0;
}

#main-tools h1	{
	padding-bottom: 50px;
}

.logo-tools	{
	margin: 0 auto;
	padding: 25px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#tools	{
	height: 100px;
}


/* FOOTER */

#footer	{
	margin: 0 auto;
	padding: 50px 0;
	background-color: #FAFAFA;
}

#footer a	{
	color: blue;
}

.contacts	{
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.social-networks	{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.fab	{
	font-size: 30px;
}

.fa-twitter	{
	color: #1DA1F2;
}

.fa-linkedin	{
	color: #0077B5;
}
	
.fa-facebook-square	{
	color: #3C5898;
}

.footer-bottom p	{
	margin: 0;
	padding: 50px 0 0 0;
	text-align: center;
}

.contact img	{
	height: 40px;
}





/* RESPONSIVE PAGE */


/* MEDIA SCREEN AND (MIN-WIDTH: 992PX) AND (MAX-WIDTH: 1199PX) */

@media screen and (min-width: 992px) and (max-width: 1199px)
{
	#wrapper	{
		width: 960px;
	}


	.hero-text	{
		height: 500px;
	}

	.hero-text p	{
		margin: 0;
		padding: 15px;
		font-size: 28px;
	}

	/* TITLE */

	#main-title	{
		margin: 150px auto;
		padding: 40px 0 30px 0;
		background-color: #FAFAFA;
	}

	.web-design	{
		max-width: 448px;
		width: 100%;
		padding: 10px;
	}

	.geoinformatics	{
		max-width: 448px;
		width: 100%;
		padding: 10px;
	}

	.title-image	{
		max-width: 380px;
		width: 100%;
	}

	/* TOOLS */

	#main-tools	{
		margin: 150px auto;
	}


}



/* MEDIA SCREEN AND (MIN-WIDTH: 768PX) AND (MAX-WIDTH: 991PX) */

@media screen and (min-width: 768px) and (max-width: 991px)
{
	/*HERO*/
	
	#wrapper {
		width: 740px;
	}
	
	#hero	{
		height: 550px;
		
	}
	
	.hero-text	{
		height: 500px;
	}
	
	.hero-text p	{
		font-size: 26px;
	}
	
	
	/* TITLE */

	#main-title	{
		margin: 100px auto;
		padding: 40px 0 30px 0;
		background-color: #FAFAFA;
	}

	.web-design	{
		max-width: 364px;
		width: 100%;
		padding: 10px;
	}

	.geoinformatics	{
		max-width: 364px;
		width: 100%;
		padding: 10px;
	}

	.title-image	{
		max-width: 340px;
		width: 100%;
	}
	
	
	/* TOOLS */
	
	#main-tools	{
		margin: 100px auto;
	}
	
	
	/* FOOTER */

	#footer	{
		padding: 25px 0;
	}

	.contact {
		width: 100%;
		text-align: center;
	}
	
	.social-networks	{
		display: flex;
		justify-content: center;
	}

	.fab	{
		margin: 0 30px 10px 30px;
	}

	.footer-bottom p	{
		margin: 0;
		padding: 20px 0 0 0;
	}
}



/* MEDIA SCREEN AND (MIN-WIDTH: 576PX) AND (MAX-WIDTH: 767PX) */

@media screen and (min-width: 576px) and (max-width: 767px)
{
	/* HERO */
	
	#wrapper	{
		width: 540px;
	}
	
	#hero	{
		height: 420px;
	}
	
	#main-header	{
		height: 50px;
	}

	.logo img	{
		height: 40px;
	}

	nav	{
		height: 50px;
	}

	nav ul li	{
		margin-right: 20px;
	}

	nav ul li a:link,
	nav ul li a:visited {
		font-size: 15px;
	}

	.hero-text	{
		height: 350px;
	}

	.hero-text p	{
		padding: 10px;
		font-size: 24px;
	}

	.button:hover {
		color: #FFFFFF;
	}
	
	.button:active {
		color: #FFFFFF;
	}
	
	
	/* TITLE */

	#main-title	{
		margin: 50px auto;
		padding: 50px 0 30px 0;
	}

	#main-title h1	{
		padding-bottom: 30px;
	}

	.web-design	{
		width: 100%;
		padding: 10px;
	}

	.geoinformatics	{
		width: 100%;
		padding: 10px;
	}

	.title-image	{
		max-width: 400px;
		width: 100%;
	}
	
	
	/* TOOLS */

	#main-tools	{
		margin: 50px auto;
	}

	#main-tools h1	{
		padding-bottom: 30px;
	}

	
		/* FOOTER */

	#footer	{
		padding: 25px 0;

	}

	.contact {
		width: 100%;
		text-align: center;
	}
	
	.social-networks	{
		display: flex;
		justify-content: center;
	}

	.fab	{
		margin: 0 30px 10px 30px;
	}

	.footer-bottom p	{
		margin: 0;
		padding: 20px 0 0 0;
	}
	
}



/* MEDIA SCREEN AND (MAX-WIDTH: 575PX) */

@media screen and (max-width: 575px)	{
	#wrapper	{
		width: 90%;
	}
	
	#hero	{
		width: 100%;
	}

	#main-header	{
		height: 50px;
	}

	.logo img	{
		height: 40px;
	}

	nav	{
		height: 50px;
	}

	nav ul li	{
		margin-right: 28px;

	}
	nav ul li:nth-of-type(4)	{
		margin-right: 0;
	}

	nav ul li a:link,
	nav ul li a:visited {
		font-size: 15px;
	}

	.hero-text	{
		display: block;
		text-align: center;
		margin: 0;
		padding: 0;

	}

	.hero-text p	{
		/* padding: 10px; */
		font-size: 22px;
	}
			
	.button:active {
		color: #FFFFFF;
	}
	
	
	/* TITLE */
	
	#main-title	{
		margin: 50px auto;
		padding: 50px 0 30px 0;
	}

	#main-title h1	{
		padding-bottom: 30px;
	}


	.web-design	{
		width: 100%;
		padding: 10px;
	}

	.geoinformatics	{
		width: 100%;
		padding: 10px;
	}

	.title-image	{
		width: 100%;
	}

	#main-title h1	{
		padding-bottom: 30px;
	}

	
	/* TOOLS */

	#main-tools	{
		margin: 50px auto;
	}

	#main-tools h1	{
		padding-bottom: 30px;
	}

	.logo-tools	{
		padding: 10px 0;
		justify-content: space-around;
	}


	/* FOOTER */

	#footer	{
		width: 100%;
		padding: 25px 0;

	}

	.contact {
		width: 100%;
		text-align: center;
	}
	
	.social-networks	{
		display: flex;
		justify-content: center;
	}

	.fab	{
		margin: 0 30px 30px 0;
	}

	.footer-bottom p	{
		margin: 0;
		padding: 20px 0 0 0;
	}

}

















