@charset "UTF-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family: 'Roboto', Arial, sans-serif;
	color:#363636;
	font-weight:300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:900;
	margin:1em 0 0.5em;
	color:#696969;
}

h1 { font-size:3em;}
h2 { font-size:2.2em;}
h3 { font-size:2em;}
h4 { font-size:1.6em;}
h5 { font-size:1.4em;}
h6 { font-size:1.2em;}

p {
	margin:0.3em 0 0.5em;
}
img {
	vertical-align:bottom;
	max-width:100%;
}

a:link,
a:visited {
	text-decoration:none;
	color:#e84e1b;
}
a:hover {
	color:#f39200;
}
a:active {
	/* color:#696969; */
}

p	{
    text-align: justify;
    text-justify: inter-word;
}


#headerTop	{
	background: #282828;
	color: #BEBEBE;
	font-weight: strong;
	margin: 0 auto;
}

.headerContent	{
	display: flex;
	justify-content: space-between;
}

.headerTopLeft	{
	display: flex;
	align-items: center;
}

.phone	{
	padding-right: 30px;
}

.headerTopRight	{
	display: flex;
	align-items: center;
}

.icons	{
	padding-left: 5px;
}

.wrapper	{
	width: 1200px;
	margin: 0 auto;
}

#header	{
	margin: 0;
	padding: 0;
}

.headerMenu	{
	display: flex;
	justify-content: space-between;
	height: 70px;
}

.logo	{
	display: flex;
	align-self: center;
	height: 40px;
}

.nav	{
	display: flex;
	align-items: center;
}

.nav ul	{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.nav ul li	{
	margin-right: 30px;
	display: block;
	font-weight: 500;
}


.nav ul li:nth-of-type(5)	{
	margin-right: 0;
}


.nav ul li a	{
	color: #282828;

}



#hero	{
	background-image: url("fajlovi/hero.jpg");
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0; 
}


#hero h1	{
	text-align: center;
	color: #FFFFFF;
}

#hero p	{
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 20px;
	line-height: 1.7;
}

.wrapper h2 {
	text-align: center;
	padding-top: 50px;
}

.lm a	{
	border: 2px solid #FFFFFF;
	border-radius: 5px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	color: #FFFFFF;
}

#products	{
	background-color: #E6E6E6;
	/* margin: 100px 0; */
	padding: 100px 0;
}

#products h2	{
	margin: 0;
	padding: 0;
}

#products p	{
	text-align: center;
	margin-bottom: 30px;
}

.products	{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.product {
	width: 250px;
	margin: 10px;
	padding: 0 10px;
	background: #FFFFFF;
}

.product h3	{
	text-align: center;
}

.more	{
	color: #FF4000;
	text-align: center;
	padding: 15px;
	width: 50%;
	border: 2px solid #FF4000;
	border-radius: 5px;
	margin: 0 auto;
}

#about	{
	background-image: url("fajlovi/about.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 120px 0;
}

.about_window h3	{
	color: #FFFFFF;
	padding-bottom: 20px ;

}
.about_window	{
	width: 500px;
	background: rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	padding: 30px;
}

.about_window p	{
	font-size: 16px;
}

.learn	{
	padding: 14px 30px;
	border: 2px solid #FFFFFF;
	border-radius: 5px;
}

.learn a	{
	text-decoration: none;
	color: #FFFFFF;
}

#partners	{
	padding: 50px 0;
}

.partner h4	{
	text-align: center;
	padding-bottom: 15px;
}

.partnerLogo	{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.brand {
	padding: 50px 0;
}

#footer	{
	background-color: #383838;
	padding: 50px 0;
	color: #FFFFFF;
}

.sadrzaj	{
	display: flex;
	justify-content: space-between;
	padding-bottom: 35px;
}

.ciljevi	{
	display: flex;
}

.ciljevi h4	{
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.logoFooter	{
	display: flex;
	align-self: center;
	height: 40px;
}

.misija	{
	width: 280px;
	padding: 0 10px;
}

.vizija	{
	width: 280px;
	padding: 0 10px;
}

.footerEnd	{
	color:	#FFFFFF;
	padding-top: 35px;
	overflow: hidden;
}

.backButton	{
	padding: 10px 20px;
	float: right;
	border: 1px solid;
	border-radius: 5px;
}

.backButton a	{
	text-decoration: none;
	color: #FFFFFF;
}





/* RESPONSIVE PAGE */


/* MEDIA SCREEN AND (MIN-WIDTH: 1200PX) AND (MAX-WIDTH: 1280PX) */

@media screen and (min-width: 1200px) and (max-width: 1280px)	{
	
	/* HERO */
	
	.wrapper	{
		width: 1024px;
	}
	
	.product {
		width: 200px;
		padding: 0 10px;
		justify-content: center;
	}
	
	.more	{
		padding: 10px;
	}
	
	.brand {
		width: 200px;
		justify-content: space-between;
	}
}



/* MEDIA SCREEN AND (MIN-WIDTH: 992PX) AND (MAX-WIDTH: 1199PX) */

@media screen and (min-width: 992px) and (max-width: 1199px)	{
	
	/* HERO */
	
	.wrapper	{
		width: 960px;
	}


	.headerMenu	{
		height: 50px;
	}

	.logo	{
		height: 30px;
	}

	.nav ul li	{
		margin-right: 25px;
	}


	.nav ul li:nth-of-type(5)	{
		margin-right: 0;
	}
	
	#hero	{
		padding: 150px 0; 
	}


	#hero h1	{
		font-size: 2.5em;
	}

	#hero p	{
		line-height: 1.5;
	}
	
	.lm a	{
		padding: 12px 25px;
	}
	
	.wrapper h2 {
		text-align: center;
		padding-top: 10px;
	}
	
	.products	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
}

	.product {
		margin: 10px 30px;
	}
	
	.more	{
		padding: 10px;
	}
	
	
	#partners	{
		padding: 50px 0;
	}

	.partner h4	{
		text-align: center;
		padding-bottom: 15px;
	}

	.partnerLogo	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.brand {
		padding: 50px 0;
		margin: 0 50px;
	}

}



/* MEDIA SCREEN AND (MIN-WIDTH: 768PX) AND (MAX-WIDTH: 991PX) */

@media screen and (min-width: 768px) and (max-width: 991px)	{
		
	/* HERO */


	.wrapper {
		width: 740px;
	}
	
	.logo	{
		height: 30px;
	}	
	
	.headerMenu	{
		height: 50px;
	}
	
	#hero	{
		padding: 120px 0; 
	}
	
	#hero h1	{
		font-size: 2.2em;
	}
	
	#hero p	{
		line-height: 1.2;
	}
	
	.icons	{
		padding-left: 20px;
		font-size: 26px;
	}
	
	.lm a	{
		padding: 8px 18px;
	}
	
	
	.products	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
}

	.product {
		margin: 10px 30px;
		width: 200px;
	}
	
	.more	{
		padding: 10px;
	}
	
	#about	{
		padding: 120px 0;
	}

	.about_window h3	{
		font-size: 1.8em;
		margin: 0;
		padding-bottom: 10px;

	}
	.about_window	{
		width: 400px;
		padding: 15px;

	}

	.about_window p	{
		font-size: 14px;
	}

	.learn	{
		padding: 8px 18px;
	}
	
	#partners	{
		padding: 50px 0;
	}

	.partner h4	{
		text-align: center;
		padding-bottom: 15px;
	}

	.partnerLogo	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.brand {
		padding: 50px 0;
		margin: 0 15px;
	}

	
	#footer	{
		padding: 50px 0;
		height: 370px;
		color: #FFFFFF;
	}

	.sadrzaj	{
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}

	.misija	{

		padding-left: 0px;
	}

	.vizija	{
		width: 280px;
		padding: 0 10px;
	}
	
	.logoFooter	{
		height: 40px;
	}

	.footerEnd	{
		padding-top: 20px;
	}

	.backButton	{
		padding: 8px 18px;

	}
	
}


/* MEDIA SCREEN AND (MIN-WIDTH: 576PX) AND (MAX-WIDTH: 767PX) */

@media screen and (min-width: 576px) and (max-width: 767px)	{
	
	/* HERO */
	
	.wrapper	{
		width: 540px;
	}

	.headerMenu	{
		display: flex;
		justify-content: center;
		height: 60px;
		flex-direction: column;
	}

	.logo	{
		height: 30px;
		padding: 5px 0;
	}

	.nav	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.nav ul li	{
		margin: 0 15px;
	}

	
	#hero	{
		padding: 100px 0; 
	}
	
	#hero h1	{
		font-size: 2em;
	}
	
	#hero p	{
		line-height: 1.1;
	}
	
	.lm a	{
		padding: 8px 18px;
	}
	
	.products	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.product {
		width: 200px;
		margin: 10px 20px;
		font-size: 14px;
	}
	
	.product h3	{
		font-size: 1.4em;
	}
	
	.more	{
		padding: 5px;
	}
	
	#about	{
		padding: 100px 0;
	}

	.about_window h3	{
		font-size: 1.8em;
		margin: 0;
		padding-bottom: 10px;

	}
	.about_window	{
		width: 400px;
		padding: 15px;

	}

	.about_window p	{
		font-size: 14px;
	}

	.learn	{
		padding: 8px 18px;
	}
	
	#partners	{
		padding: 50px 0;
	}

	.partner h4	{
		text-align: center;
		padding-bottom: 15px;
	}

	.partnerLogo	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.brand {
		padding: 50px 0;
		margin: 0 15px;
	}

	
	#footer	{
		padding: 50px 0;
		height: 370px;
		color: #FFFFFF;
	}

	.sadrzaj	{
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}

	.misija	{
		padding-left: 0px;
	}

	.vizija	{
		width: 280px;
		padding: 0 10px;
	}

	.footerEnd	{
		padding-top: 20px;
	}
	
	.logoFooter	{
		height: 30px;
		margin-top: 20px;
	}

	.backButton	{
		padding: 8px 18px;
	}
}



/* MEDIA SCREEN AND (MAX-WIDTH: 575PX) */

@media screen and (max-width: 575px)	{
	
	/* HERO */
	
	.wrapper	{
		width: 90%;
	}

	.headerContent	{
		display: flex;
		/* flex-direction: column; */
		justify-content: space-between;
	}

	.headerTopLeft	{
		display: flex;
		/* flex-direction: row; */
		align-items: flex-start;
		flex-direction: column;
	}

	.phone	{
		padding-right: 0px;
	}

	.headerTopRight	{
		display: flex;
		align-items: center;
	}

	.icons	{
		padding-left: 20px;
		font-size: 26px;
	}
	
	.headerMenu	{
		display: flex;
		justify-content: center;
		height: 150px;
		flex-direction: column;
	}

	.logo	{
		height: 30px;
		padding: 5px 0;
	}

	.nav	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.nav ul {
		display: list-item;	
		text-align: center;
	}
	

	.nav ul li	{
		margin: 0 10px;
	}
	
	.nav ul li:nth-of-type(5)	{
		margin: 0 10px;
	}

	
	#hero	{
		padding: 100px 0; 
	}
	
	#hero h1	{
		font-size: 2em;
	}
	
	#hero p	{
		line-height: 1.1;
	}
	
	.lm a	{
		padding: 8px 18px;
	}
	
	.products	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.product {
		width: 200px;
		margin: 10px 20px;
		font-size: 14px;
	}
	
	.product h3	{
		font-size: 1.4em;
	}
	
	.more	{
		padding: 5px;
	}
	
	#about	{
		width: 100%;
		padding: 100px 0;
	}

	.about_window h3	{
		font-size: 1.8em;
		margin: 0;
		padding-bottom: 10px;

	}
	.about_window	{
		width: 90%;
		padding: 15px;

	}

	.about_window p	{
		font-size: 14px;
	}

	.learn	{
		padding: 8px 18px;
	}
	
	#partners	{
		padding: 50px 0;
	}

	.partner h4	{
		text-align: center;
		padding-bottom: 15px;
	}

	.partnerLogo	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.brand {
		padding: 50px 0;
		margin: 0 15px;
	}

	
	#footer	{
		padding: 50px 0;
	}

	.sadrzaj	{
		display: flex;
		flex-direction: column;
		align-content: center;
		padding-bottom: 20px;
	}
	
	.ciljevi	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.misija	{
		padding: 0;
	}

	.vizija	{
		padding: 0;
	}

	.footerEnd	{
		padding-top: 20px;
	}
	
	.footerLogo	{
		display: flex;
		align-self: center;
	}
	.logoFooter	{
		height: 30px;
		margin-top: 20px;
	}

	.backButton	{
		margin-top: 35px;
		padding: 8px 18px;
	}
}








